{% extends 'base.html' %}
{% block content %}

<h1>My Lists</h1>
<class class="btn"><a class="white-text" href="{% url 'shtuff_list_create' %}">Add List</a></class>
{% for list in shtufflist_list %}
    <a href="{% url 'shtuff_list_detail' list.id %}">
    <div class="card">
        <div class="card-content">
            <img class="responsive-img card-panel" src="{{ list.image }}" alt="No Image!">
            <span class="card-title">{{ list.name }}</span>
            <p>{{ list.description }}</p>
            <div class='btn blue'>
                <a class="white-text" href="{% url 'shtuff_list_update' list.id %}">UPDATE</a>
            </div>
            <div class='btn red'>
                <a class="white-text" href="{% url 'shtuff_list_delete' list.id %}">DELETE</a>
            </div>
        </div>
    </div>
    </a>

{% endfor %}

{% endblock %}