{% extends 'base.html' %}
{% block content %}

<h1>My Shtuff</h1>
<class class="btn"><a class="white-text" href="{% url 'shtuff_list_create' %}">Add Shtuff</a></class>
{% for list in shtufflist_list %}
    <a href="{% url 'shtuff_list_detail' list.id %}">
    <div class="card">
        <div class="card-content">
            <img class="responsive-img card-panel" src="{{ list.image }}" alt="No Image!">
            <span class="card-title">{{ list.name }}</span>
            <p>{{ list.description }}</p>
        </div>
    </div>
    </a>

{% endfor %}

{% endblock %}