{% extends 'base.html' %}
{% block content %}

<div class="container" style="width: 75vmax;">
    <div class="section">
        <div class="row">
            <div class="col l12">
                <h1 class="center-align" style="align-content: center;">{{shtuff.name}}</h1>
                <div class="row" style="margin:auto;">
                    <div class="col l6 s12" style="display: flex; justify-content: center; align-content: center;">
                        <img class='responsive-img' src="{{shtuff.image}}" height="600vmin" alt="no image">
                    </div>
                    <div class="col l6 s12">
                        <div class="card-panel" style="max-height: 500vmin; background-color:lightgray;">
                            <h5>DETAILS</h5>
                            <hr>
                            <span class="detail-title"> <strong>Description: </strong> </span>
                            <br>
                            <span> {{shtuff.description}} </span>
                            <hr>
                            <span class="detail-title"> <strong> Price: </strong> </span>
                            <span> ${{shtuff.price}} </span>
                            <hr>
                            <span class="detail-title"> <strong> Link: </strong> </span>
                            <span> <a target="_blank" rel="noopener noreferrer" href="{{shtuff.url}}">Buy Now!</a> </span>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="card-action" style="display: flex; justify-content: space-around;">
                                <div class='btn blue'>
                                    <a class="white-text" href="{% url 'shtuff_update' shtuff.id %}">UPDATE ITEM</a>
                                </div>
                                <div class='btn red'>
                                    <a class="white-text" href="{% url 'shtuff_delete' shtuff.id %}">DELETE ITEM</a>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    




{% endblock %}